%h1 Hall of Questions
%table.table
  %thead
    %tr
      %th{:scope => "col"} Category
      %th{:scope => "col"} Users
      %th{:scope => "col"} Questions
      %th{:scope => "col"} Answers
      %th{:scope => "col"} Tenant Requests
  %tbody
    %tr
      %th{:scope => "row"} Count
      %td # of Users here
      %td # of Questions here
      %td # of Answers here
      %td # of Tenant Requests here
